/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json

[Bb]in/*.exe
.env
[Bb]uild/
[Aa]llure-report

[Oo]ut
bdd-*.xml
[Cc]overage/*

*.ospx
oscript_modules/

*.1CD.
*.cfl
*.1CL
1cv8dtmp.1CD
ConfigDumpInfo.xml
.scannerwork

src/oscript.cfg
