<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="КомандаGenerateConfig" file="src/Классы/КомандаGenerateConfig.os"/>
    <class name="КомандаInit" file="src/Классы/КомандаInit.os"/>
    <class name="КомандаPrepare" file="src/Классы/КомандаPrepare.os"/>
    <class name="КомандаRun" file="src/Классы/КомандаRun.os"/>
    <class name="Общие" file="src/Модули/Общие.os"/>
    <class name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
</package-def>